<h4>New Solution</h4>
<hr>
<form [formGroup]="solutionForm" (ngSubmit)="this.onSubmit()">
  <div class="row">
    <div class="col-sm-3">

      <div class="card">
        <img class="card-img-top">
        <div class="card-body">
          <div class="form-group">
            <label for="image">Upload Image:</label>
            <input type="file" class="form-control-file" id="image" formControlName="image">
          </div>
        </div>
      </div>
      <br>

      <div class="form-group">
        <label for="isActive">Status:</label>
        <select class="form-control" id="isActive" formControlName="isActive">
          <option value="true">Active</option>
          <option value="false">Disabled</option>
        </select>
      </div>

      <div class="form-group">
        <label for="created">Created:</label>
        <input type="text" class="form-control" id="created" formControlName="created" readonly>
      </div>

      <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-save"></i>&nbsp; Submit</button>
    </div>

    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" formControlName="title">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="details">Details:</label>
            <input type="text" class="form-control" id="details" formControlName="details">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea type="text" class="form-control" id="description" formControlName="description"></textarea>
      </div>

      <div formArrayName="procedures">
        <button class="btn btn-primary" type="button" (click)="this.addProcedure()"><i class="fa fa-plus"></i>&nbsp;
          Add Procedure</button>
        <hr>

        <div class="accordion" id="accordionSolution">
          <div class="card" *ngFor="let collection of this.solutionForm.get('procedures')['controls']; let p = index">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" attr.data-target="#procedure{{p}}"
                  aria-expanded="false" attr.aria-controls="procedure{{p}}">
                  Procedure #{{ p+1 }}
                </button>
              </h5>
            </div>

            <div id="procedure{{p}}" class="collapse" [ngClass]="{ show: p == 0 }" attr.aria-labelledby="procedure{{p}}"
              data-parent="#accordionSolution">
              <div class="card-body">

                <div [formGroupName]="p">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" class="form-control" id="title" formControlName="title">
                      </div>
                      <div class="form-group">
                        <label for="details">Details:</label>
                        <input type="text" class="form-control" id="details" formControlName="details">
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="isActive">Status:</label>
                            <select class="form-control" id="isActive" formControlName="isActive">
                              <option value="true">Active</option>
                              <option value="false">Disabled</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="created">Created:</label>
                            <input type="text" class="form-control" id="created" formControlName="created" readonly>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="image">Upload Image:</label>
                        <input type="file" class="form-control-file" id="image" formControlName="image">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea type="text" class="form-control" id="description" formControlName="description"></textarea>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</form>